<div class="container-fluid">
    <div class="d-flex histoire flex-column align-items-center">
        <h2 class="text-center">Résumé</h2>
        <div class="d-flex justify-content-center content">
            Le plus beau jour de votre vie est arrivé, vous venez de vous marier vous êtes la plus comblée ! Mais il reste une dernière étape avant d’être acceptée dans votre belle famille.
            <br>
            Arriverez-vous à les semer avant le crépuscule ?
            <br>Le manoir dans lequel vous venez de célébrer votre mariage se transforme ce soir en votre pire cauchemar.
        </div>
        <div class="d-flex justify-content-center bloc">
            <img src="assets/img/Menu_Jeu.png" alt="">
            <div class="align-self-top zone1">
                Minuit sonne, vous avez 7 heures, jusqu'au lever du soleil, pour vous échapper.
            </div>
        </div>
        <div class="d-flex justify-content-center bloc">
            <div class="align-self-top zone2">
                Découvrez les indices sur le site en recupérant des codes dans le jeu !
            </div>
            <img src="assets/img/chambre.png" alt="">
        </div>
    </div>
</div>
