.histoire {
    padding-top: 5vh;
    min-height: 100vh;
    width: 100%;
}

h2 {
    margin-top: 90px;
    font-size: 2.2vh;
    text-transform: uppercase;
    font-weight: bold;
}

.content {
    font-size: 2vh;
    margin-top: 2.5vh;
    max-width: 90%;
    line-height: 2.5vh;
    text-align: center;
}

img {
    width: 50%;
    height: 10%;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}

.zone1 {
    margin-top: 1.2vh;
    margin-left: 4vw;
    max-width: 30%;
    font-size: 2vh;
    line-height: 2.5vh;
}

.zone2 {
    margin-top: 1.2vh;
    margin-right: 4vw;
    max-width: 30%;
    font-size: 2vh;
    line-height: 2.5vh;
    text-align: right;
}

.bloc {
    margin-top: 5vh;
}

@media only screen and (min-width: 700px) {
    img {
        max-width: 25%;
        height: auto;
    }
    .align-self-top {
        align-self: center;
    }
    .content {
        max-width: 50%;
    }
    .zone1 {
        margin-top: 0vh;
        line-height: 3.5vh;
    }
    .zone2 {
        margin-top: 0vh;
        line-height: 4.5vh;
    }
}