<div class="container-fluid">
    <div class="d-flex resume flex-column align-items-center">
        <p class="text-center col-md-6 col-12 jeu">
        Participez à notre jeu concours pour assister à un Escape Game grandeur nature!
        </p>
        <p class="text-center col-md-6 col-12 condi">Tirage au sort aléatoire pour 10 personnes qui auront la chance de participer à l'événement</p>
        <p>Prénom</p>
        <input class="col-md-6 col-12" type="text">
        <p>Nom</p>
        <input class="col-md-6 col-12" type="text">
        <p>E-Mail</p>
        <input class="col-md-6 col-12" type="text">
        <button class="btn btn-danger"> PARTICIPER</button>
        <p class="text-center col-md-6 col-12 condi">RDV le <span class="bold">30 Octobre 2019</span> pour peut-être vivre la dernière soirée de votre vie... Ou la meilleure</p>
        <p class="text-center col-md-6 col-12 condi"><span class="bold">Lieu :</span> Tenu secret</p>
        <p class="text-center col-md-6 col-12 condi">Restez sur cette page si vous y parvenez, c'est sur cette dernière que figureront les informations.</p>
        <p class="text-center col-md-6 col-12 mt-5">
        La nuit de noces d’une jeune mariée tourne au cauchemar quand sa riche et excentrique belle-famille lui demande d’honorer une tradition qui va se révéler meurtrière et où chacun luttera pour sa survie
        </p>
        <div class="embed-responsive embed-responsive-16by9 col-md-6 col-12">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o4u08phpofU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
