div {
    background: #000000;
}

.resume {
    padding-top: 120px;
    min-height: 100vh;
    width: 100%;
}

p {
    font-size: 20px;
}

input {
    height: 50px;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: #000;
    border: none;
    text-align: center;
    font-weight: 600;
    font-size: 20px
}

button {
    margin-bottom: 20px;
}

.embed-responsive {
    margin: 20px 0 20px 0;
}

.jeu {
    font-weight: 600;
    margin-bottom: 20px;
}

.bold {
    font-weight: 600;
}

.condi {
    margin-bottom: 10px;
}

.resume {
    margin-top: 40px;
}