<div class="container-fluid d-flex flex-column">
    <div class="row d-flex justify-content-center">
        <div class="col-4 col-md-3 d-flex justify-content-center">
        <img class="rounded-circle" src="assets/img/perso1.png" alt="">
        </div>
        <div class="col-8 col-md-6 d-flex justify-content-center flex-column">
        <p>Becky Le Domas</p>
        <p>21 / 04 / 1958</p>
        <p>La belle-mère</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-4 col-md-3 d-flex justify-content-center">
        <img class="rounded-circle" src="assets/img/perso2.png" alt="">
        </div>
        <div class="col-8 col-md-6 d-flex justify-content-center flex-column">
        <p>Tony</p>
        <p>08 / 02 / 1959</p>
        <p>Le beau-père</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-4 col-md-3 d-flex justify-content-center">
        <img class="rounded-circle" src="assets/img/perso3.png" alt="">
        </div>
        <div class="col-8 col-md-6 d-flex justify-content-center flex-column">
        <p>Alex</p>
        <p>12 / 05 / 1990</p>
        <p>Le marié</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-4 col-md-3 d-flex justify-content-center">
        <img class="rounded-circle" src="assets/img/perso4.png" alt="">
        </div>
        <div class="col-8 col-md-6 d-flex justify-content-center flex-column">
        <p>Danielle</p>
        <p>15 / 12 / 1939</p>
        <p>La grand-mère</p>
        </div>
    </div>
</div>
